@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");

.endtext {
  height: 5vh;
  width: 100vw;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: auto;
}

.endtext h4 {
  display: flex;
  margin-top: 0em;
  margin-bottom: 1em;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2vh;
  text-align: center;
  z-index: 1;
}

.overall-container {
  height: 95vh;
}