/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&family=Quicksand:wght@300;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap");
.text {
  height: 60vh;
  width: 100vw;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.text p {
  margin-top: 4vh;
  margin-bottom: 0.5vh;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 2.5vh;
  z-index: 1;
}

.text h1 {
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  color: #d7d7d7;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4vh;
  text-align: center;
  z-index: 1;
}

.text h2 {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #b9b3a7;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3vh;
  text-align: center;
  z-index: 1;
}

.text h3 {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2vh;
  text-align: center;
  z-index: 1;
}

.text img {
  display: flex;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 30%;
  align-items: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .text img {
    max-width: 70%;
  }
}

@media (max-width: 1024px) {
  .text img {
    max-width: 90%;
  }
}
